@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--slate300);
  width: 100vw;
  height: 100vh;
  font-size: 15px;
}

.card {
  width: min-content;
  height: min-content;
  background-color: var(--white);
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qr-code {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.text {
  margin-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.title {
  margin-bottom: 8px;
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
}

.description {
  margin-top: 8px;
  text-align: center;
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  font-weight: 400;
  font-family: "Outfit";
  line-height: 140%;
  letter-spacing: 0.2px;
}

.attribution {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
