@import "https://fonts.googleapis.com/css?family=Outfit";

* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
  font-size: 15px;
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

#card {
  align-content: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
}

#textbox {
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

#space {
  height: 16px;
}

img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

#card-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

#card-text {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: hsl(216, 15%, 48%);
}
